.task {
  border: 1px solid #1b09e1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #1044e060;
}

.task p,
.task small {
  margin: 5px 0;
}

.task label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.task input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}
