

<div class="week">
  <button *ngFor="let day of ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']"
          (click)="openTaskForm(day)">
    Add Task for {{ day }}
  </button>
</div>

<div *ngIf="isFormVisible" class="task-form">
  <h3>Add Task for {{ taskForm.dayOfWeek }}</h3>

  <form>
    <div>
      <label for="taskName">Task Name:</label>
      <input id="taskName" [(ngModel)]="taskForm.taskName" name="taskName" />
    </div>
    <div>
      <label for="assignedRoomie">To Roomie:</label>
      <textarea id="assignedRoomie" [(ngModel)]="taskForm.assignedRoomie" name="assignedRoomie"></textarea>
    </div>


    <div>
      <label for="note">Note:</label>
      <textarea id="note" [(ngModel)]="taskForm.note" name="note"></textarea>
    </div>

    <button type="button" (click)="saveTask()">Save Task</button>
    <button type="button" (click)="resetForm()">Cancel</button>
  </form>
</div>



